<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/home.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
  <title>Mercado liebre</title>
</head>
<body>
  <header class="main-header">
    <div class="main-header-top-bar">
      <figure><img src="/images/logo-mercado-liebre.svg" class="Logo" alt="Logo"></figure> 
      <form class="busqueda" action="" method="post" target="_blank">
          <p> 
              <input  type="search" placeholder="Buscar productos"><button type="submit" value="Buscar"><i class="fas fa-search"></i></button>
          </p>
      </form>
      <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>

    <a href="#" class="hamburguer-button">
      <i class="fas fa-bars"></i>
    </a>
  <nav class="main-navbar">
            
    <ul class="left-navbar">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
    </ul>

    <ul class="right-navbar">
        <li><a href="/register">Crea tu cuenta<i class="far fa-id-card"></i></a></li>
        <li><a href="/login">Ingresa<i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis Compras<i class="fas fa-shopping-basket"></i></a></li>
    </ul> 
  </nav>
 </header>
  <figure><img class="banner" src= "/images/img-home-banner.jpg" alt= "banner"></figure> 
 <main>
  <section>
    <h2>Basado en tu ultima busqueda</h2>
    <article>
      <figure><img class="imagen" src= "/images/img-cafetera-moulinex.jpg" alt= "img del producto"></figure>
      <div class="box-article">
        <div class="truck">
          <i class="fas fa-truck"></i>
        </div> 
        <p class="price">$6.770</p>
        <p class="descuento">40% off</p>
        <p class="descripcion">Cafetera moulinex</p>
      </div>
    </article>
    <article>
      <figure><img class="imagen" src= "/images/img-macbook-pro-2019.jpg" alt= "img del producto"></figure>
      <div class="box-article">
        <div class="truck">
          <i class="fas fa-truck"></i>
        </div> 
        <p class="price">$230.000</p>
        <p class="descuento">20% off</p>
        <p class="descripcion">Macbook Pro 2019</p>
      </div>
    </article>
    <article>
      <figure><img class="imagen" src= "/images/img-samsung-galaxy-s10.jpg" alt= "img del producto"></figure>
      <div class="box-article">
        <div class="truck">
          <i class="fas fa-truck"></i>
        </div> 
        <p class="price">$70.500</p>
        <p class="descuento">10% off</p>
        <p class="descripcion">Samsung Galaxy S10</p>
      </div>
    </article>
    <article>
      <figure><img class="imagen" src= "/images/img-tv-samsung-smart.jpg" alt= "img del producto"></figure>
      <div class="box-article">
        <div class="truck">
          <i class="fas fa-truck"></i>
        </div> 
        <p class="price">$23.200</p>
        <p class="descuento">5% off</p>
        <p class="descripcion">SmartTv Samsung 43"</p>
      </div>
    </article>
  </section>
  <section>
    <h2>Sección de Ofertas</h2>
    <article>
      <figure><img class="imagen" src= "/images/img-cafetera-moulinex.jpg" alt= "img del producto"></figure>
      <div class="box-article">
        <div class="truck">
          <i class="fas fa-truck"></i>
        </div> 
        <p class="price">$6.770</p>
        <p class="descuento">40% off</p>
        <p class="descripcion">Cafetera moulinex</p>
      </div>
    </article>
    <article>
      <figure><img class="imagen" src= "/images/img-macbook-pro-2019.jpg" alt= "img del producto"></figure>
      <div class="box-article">
        <div class="truck">
          <i class="fas fa-truck"></i>
        </div> 
        <p class="price">$230.000</p>
        <p class="descuento">20% off</p>
        <p class="descripcion">Macbook Pro 2019</p>
      </div>
    </article>
    <article>
      <figure><img class="imagen" src= "/images/img-samsung-galaxy-s10.jpg" alt= "img del producto"></figure>
      <div class="box-article">
        <div class="truck">
          <i class="fas fa-truck"></i>
        </div> 
        <p class="price">$70.500</p>
        <p class="descuento">10% off</p>
        <p class="descripcion">Samsung Galaxy S10</p>
      </div>
    </article>
    <article>
      <figure><img class="imagen" src= "/images/img-tv-samsung-smart.jpg" alt= "img del producto"></figure>
      <div class="box-article">
        <div class="truck">
          <i class="fas fa-truck"></i>
        </div> 
        <p class="price">$23.200</p>
        <p class="descuento">5% off</p>
        <p class="descripcion">SmartTv Samsung 43"</p>
      </div>
    </article>
  </main>
  <footer>
    <section>
        <i class="fas fa-credit-card fa-2x" class="iconos"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p class="cuerpo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <i class="fas fa-gift fa-2x" class="iconos" ></i>
        <h3>Envío gratis desde $ 2.500</h3>  
        <p class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>
    <section>
        <i class="fas fa-user-shield fa-2x" class="iconos"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p class="cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </section>
  </footer>
  <p class="copyrights">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>  
</body>
</html>