footer {
    background-color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}
p {
    font-size: 17px;
    line-height: 24px;
}

footer i {
    margin: auto;   
    color: #1259c3;
}
.copyrights{
    color:  #666;
    text-align: left;
    margin-top: 20px;
}
@media(min-width: 769px){
    footer{
        display: flex;
    }
}